<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href='static/style.css'>
    <title>foo</title>
</head>

<body>
    <table>
        <tr id="header">
            <td colspan="2">
                <h1>h1 foo</h1>
            </td>
        </tr>
        <tr id="txtblock">
            <td width="30%">
                <nav class="navbar" >
                    <h3>
                        nav foo
                    </h3>
                    <ul>
                        <li>dis</li>
                        <li>dat</li>
                        <li>de udda ting</li>
                    </ul>
                </nav>
            </td>
            <td>
                <h2>
                    Bacon
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur libero id faucibus nisl tincidunt eget. Id volutpat lacus laoreet non. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Lobortis feugiat vivamus at augue eget. Mattis rhoncus urna neque viverra justo. Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. Nam aliquam sem et tortor consequat. Varius sit amet mattis vulputate enim nulla. Cum sociis natoque penatibus et magnis dis parturient montes nascetur.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="copyright">
                <h4>Copyright</h4>
            </td>
        </tr>
        
    </table>
    
</body>
    
</html>